<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body{
            font-family: Arial;
            background:#f2f2f2;
        }
        .box{
            width:350px;
            margin:80px auto;
            background:#fff;
            padding:30px;
            border-radius:8px;
            box-shadow:0 0 10px rgba(0,0,0,.2);
        }
        input, button{
            width:100%;
            padding:10px;
            margin:10px 0;
        }
        button{
            background:#28a745;
            color:#fff;
            border:none;
            cursor:pointer;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>Login</h2>

       <% if(errors && errors.length > 0){ %> 
        <div>
            <% errors.forEach(function(err){ %> 
                <p style="color: red;"> <%= err.msg %> </p>
            <% }) %> 
        </div>
    <% } %>

    <form action="/user/register" method="post">
        <input type="email" name="email" placeholder="Email" >

        <input type="password" name="password" placeholder="Password" >

        <button type="submit">Login</button>
    </form>

    <p>Don’t have an account? <a href="/register">Register</a></p>
</div>

</body>
</html>
